@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
:root {
  --highlight: 186, 206, 22;
  --dark: 26, 30, 34;
  --dark-soft: 210, 13%, 15%;
  --dark-softer: 210, 13%, 25%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 15px Quicksand, sans-serif;
  background: rgb(var(--dark));
  overflow-y: hidden;
}

img {
  max-width: 100%;
  max-height: 80vh;
  vertical-align: middle;
}

.about {
  position: fixed;
  right: 0;
  top: 0;
  margin: 1rem 1rem 0 0;
}

.about > p {
  padding: 0.55rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  background-color: hsl(var(--dark-soft));
  margin-bottom: 0.3rem;
  max-width: 18rem;
  color: #808080;
}

.about > p a {
  color: rgb(var(--highlight));
}

#app,
#app .img-box {
  display: flex;
  align-items: center;
}

#app {
  height: 100vh;
  justify-content: center;
}

#app .img-box {
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

#app .img-box .content {
  width: 100%;
  border: 3.5px solid hsl(var(--dark-softer));
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.4);
}

#app .img-box .loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 10;
}

#app .img-box .loading.show-hide {
  display: flex;
}

#app .img-box .loading .dot {
  width: 3px;
  height: 3px;
  border-radius: 30px;
  background-color: #bace16;
  border: 1px solid hsl(67, 81%, 30%);
  margin: 0.3rem;
  animation: 1.2s ease 0s infinite alternate loading;
}

.dot:nth-child(2) {
  animation-delay: 400ms !important;
}
.dot:nth-child(3) {
  animation-delay: 800ms !important;
}

#app .img-box img {
  display: none;
}

#app .img-box img.show-hide {
  display: block;
}

@keyframes loading {
  from {
    border-width: 0px;
  }
  to {
    width: 10px;
    height: 10px;
  }
}

#app .get-husky {
  position: absolute;
  top: 5vh;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Quicksand;
  font-weight: 600;
  transition: 0.3s ease;
  outline: none;
  color: #fff;
  border: 2px solid #bace16;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

#app .get-husky:active {
  transform: scale(0.9);
}

#app .get-husky:hover {
  color: #222;
  background-color: #b9ce1668;
}
